extends ../../template/layout.jade
block contenido
  include ../../template/header.jade

  div(class="container")
    header(class="major special")
      h2 Nuevo curso
      p Ingrese los datos solicitados para ingresarlo a la base de datos
    h3 Formulario
    form(method='POST', action='/platform/acudiente')
      .row.uniform(class='50%')
        div(class='12u$')
          label(for="cedula") Ingrese Cedula:
          input(name='cedula', value='', placeholder="Cedula", type='text')
        div(class='12u$')
          label(for="nombre") Ingrese Nombre:
          input(name='nombre', value='', placeholder='Nombre', type='text')
        div(class='12u$')
          label(for="apellido") Ingrese Apellido:
          input(name='apellido', value='', placeholder='Apellido', type='text')
        div(clas="12u$")
          label(for="fecha_n") Ingrese Fecha de Nacimiento:
          input(id="fecha_n", class="fecha", name="fecha" ,type="date")
        div(class='12u$')
          label(for="correo") Ingrese Correo:
          input(name='correo', value='', placeholder='Correo', type='email')
        div(class='12u$')
          label(for="creencia") Ingrese Creencia Religiosa:
          input(name='creencia', value='', placeholder='Creencia Religiosa', type='text')
        div(class='12u$')
          label(for="direccion") Ingrese Direccion:
          input(name='direccion', value='', placeholder='Direccion', type='text')
        div(class='12u$')
          label(for="eps") Ingrese EPS:
          input(name='eps', value='', placeholder='EPS', type='text')
        div(class='12u$')
          label(for="nombre_empresa") Ingrese Nombre Empresa:
          input(name='nombre_empresa', value='', placeholder='Nombre Empresa', type='text')
        div(class='12u$')
          label(for="telefono") Ingrese Telefono:
          input(name='telefono', value='', placeholder='Telefono', type='text')  
        div(class='12u$')
          label(for="telefono_empresa") Ingrese Telefono Empresa:
          input(name='telefono_empresa', value='', placeholder='Telefono Empresa', type='text')
        div(class='12u$')
          label(for="prestacion_social") Ingrese Prestacion Social:
          input(name='prestacion_social', value='', placeholder='Prestacion Social', type='text')
        div(class='12u$')
          label(for="pais") Ingrese Pais:
          input(name='pais', value='', placeholder='Pais', type='text')
        div(class='12u$')
          label(for="cbtipo_sangre") Seleccione el Tipo de Sangre:
          div(class="select-wrapper")
            select(id="cbtipo_sangre" name="cbtipo_sangre")
              option(value="A+") A+
              option(value="A-") A-
              option(value="B+") B+
              option(value="B-") B-
              option(value="O+") O+
              option(value="O-") O-
              option(value="AB+") AB+
              option(value="AB-") AB-
        div(class='12u$')
          label(for="usuario") Ingrese Usuario:
          input(name='usuario', value='', placeholder='Usuario', type='text')
        div(class='12u$')
          label(for="contraseña") Ingrese Contraseña:
          input(name='contraseña', value='', placeholder='Contraseña', type='password')
        div(class='12u$')
          label(for="contraseñar") Ingrese Repita Contraseña:
          input(name='contraseñar', value='', placeholder='Repita Contraseña', type='password')
        div(class="12u$")
          label(for="descripcion") Ingrese Descripcion:
          textarea(id="descripcion" name="descripcion" placeholder="Descripcion" rows=6)
        
          .table-wrapper
            table.alt
                thead
                  tr
                    th Nombre
                    th Categoria
                    th Precio
                    th Telefono
                    th Entrenador
                    th Seleccion
                tbody
                  for curso in cursos
                    tr
                      th= curso.s_nombre
                      th= curso.s_categoria
                      th= curso.n_precio
                      th= curso.s_telefono
                      th
                        a(href="entrenador/#{curso.s_entrenador}") Ver
                      th
                        a(href="curso/#{curso._id}") Seleccionar
        
        div(class='12u$')
          ul.actions
            li
              input.special(value='Registrar', type='submit')
            li
              input(value='Borrar', type='reset')

  include ../../template/footer.jade
