extends ../../template/layout.jade
block contenido
  include ../../template/header.jade

  div(class="container")
    header(class="major special")
      h2 Nuevo Pago
      p Ingrese los datos solicitados para ingresarlo a la base de datos
    h3 Formulario
    form(method='POST', action='/platform/pago')
      .row.uniform(class='50%')
        div(class='12u$')
          label(for="pago") Ingrese Banco para Pago:
          input(name='pago', value='', placeholder="Banco para Pago", type='text')
        div(class='12u$')
          label(for="cantidad") Ingrese Cantidad a Pagar:
          input(name='cantidad', value='', placeholder="Cantidad a Pagar", type='text')
        div(clas="12u$")
          label(for="fecha") Ingrese Fecha Maxima de Pago:
          input(id="fecha", class="fecha", name="fecha" ,type="date")
        div(class='12u$')
          label(for="tipo_pago") Ingrese Tipo de Pago:
          input(name='tipo_pago', value='', placeholder='Tipo de Pago', type='text')
        div(class="12u$")
          label(for="descripcion") Ingrese Descripcion:
          textarea(id="descripcion" name="descripcion" placeholder="Descripcion" rows=6)
        
        .table-wrapper
          h4 Seleccione Curso a Vincular
          table.alt
              thead
                tr
                  th Seleccionado
                  th Nombre
                  th Categoria
                  th Telefono
              tbody
                for curso in cursos
                  tr
                    td 
                      input(id="#{curso._id}", value="#{curso._id}", checked='', name='curso', type='radio')
                      label(for="#{curso._id}") .
                    td= curso.s_nombre
                    td= curso.s_categoria
                    td= curso.s_telefono
                    
        .table-wrapper
          h4 Seleccione Estudiante
          table.alt
              thead
                tr
                  th Seleccion
                  th Nit
                  th Cedula
                  th Nombre
                  th Apellido
                  th Correo
                  th Colegio
              tbody
                for estudiante in estudiantes
                  tr
                    td 
                      input(id="#{estudiante._id}", value="#{estudiante._id}", checked='', name='estudiante', type='radio')
                      label(for="#{estudiante._id}") .
                    td= estudiante.n_nit
                    td= estudiante.n_cedula
                    td= estudiante.s_nombre
                    td= estudiante.s_apellido
                    td= estudiante.s_correo
                    td= estudiante.s_colegio
        
        div(class='12u$')
          ul.actions
            li
              input.special(value='Registrar', type='submit')
            li
              input(value='Borrar', type='reset')

  include ../../template/footer.jade
