extends ../../template/layout.jade
block contenido
  include ../../template/header.jade

  div(class="container")
    header(class="major special")
      h2 Lista de Todos los Entrenadores
      img(class="redondo", src="/public/images/rol.jpg" alt="Imagen de la Sucursal")
      p Seleccione alguno para su posterior Seleccion
      
      .table-wrapper
        table.alt
            thead
              tr
                th Cedula
                th nombre
                th Apellido
                th Correo
                th Telefono
                th Sucursal
                th Seleccion
            tbody
              for entrenador in entrenadores
                tr
                  th= entrenador.n_ced
                  th= entrenador.s_nombre
                  th= entrenador.s_apellido
                  th= entrenador.s_correo
                  th= entrenador.n_telefono
                  th
                    a(href="sucursal/#{entrenador.s_sucursal}") Ver
                  th
                    a(href="entrenador/#{entrenador._id}") Seleccionar

  include ../../template/footer.jade
