extends ../../template/layout.jade
block contenido
  include ../../template/header.jade

  div(class="container")
    header(class="major special")
      h2 Datos de Curso
      img(class="redondo", src="/public/images/rol.jpg" alt="Imagen de la Sucursal")
      p Los datos del curso seleccionado está aqui mencionado
    
    ul(class="alt")
      li
        h4 Nombre del curso:
        p= curso.s_nombre
      li
        h4 Categoria del curso:
        p= curso.s_categoria
      li
        h4 Precio del curso:
        p= curso.n_precio
      li
        h4 Telefono del curso:
        p= curso.s_telefono
      li
        h4 Descripcion del curso:
        p= curso.s_descripcion
      li
        h4 Entrenador del curso:
        a(href="/platform/entrenador/#{curso.s_entrenador}") Ver
        
  div(class="row")
    div(class='6u$')
      ul.actions
        li
          a(href="/platform/curso/#{curso._id}/edit", class="button") Editar
    div(class='6u$')
      ul.actions
        li
          form(action="/platform/curso/#{curso._id}?_method=DELETE", method="POST")
            input.special(value='Eliminar', type='submit')

  include ../../template/footer.jade
