extends ../template/layout.jade
block contenido
  include ../template/header.jade
  
  section(id="main" class="wrapper")
    header(class="major special")
      h2 Bienvenido Entrenador #{user.s_nombre} #{user.s_apellido}
      
      .container
        .table-wrapper
          h4 Ultimos Reportes Hechos
          table.alt
              thead
                tr
                  th Tipo
                  th Fecha Reporte
                  th Cantidad
                  th Banco
                  th Codigo
                  th Seleccion
              tbody
                for reporte in reportes
                  tr
                    th= reporte.s_tipo_reporte
                    th= reporte.d_fecha_reporte
                    th= reporte.n_cantidad_reporte
                    th= reporte.s_reporte_banco
                    th= reporte.n_codigo_reporte
                    th
                      a(href="/platform/reporte/#{reporte._id}") Seleccionar
                  
        .table-wrapper
          h4 Cursos
          table.alt
              thead
                tr
                  th Nombre
                  th Categoria
                  th Precio
                  th Telefono
                  th Entrenador
                  th Seleccion
              tbody
                for curso in cursos
                  tr
                    th= curso.s_nombre
                    th= curso.s_categoria
                    th= curso.n_precio
                    th= curso.s_telefono
                    th
                      a(href="entrenador/#{curso.s_entrenador}") Ver
                    th
                      a(href="curso/#{curso._id}") Seleccionar
      
      section(id="one" class="wrapper style1")
        h4 ingresar y Modificar nuevos
        div(class="row")
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/sucursal/new") Nuevo Sucursal
              li
                a(class="button alt" href="platform/sucursal") Ver Sucursales
            
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/entrenador/new") Nueva Entrenador
              li
                a(class="button alt" href="platform/entrenador") Ver Entrenadores
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/curso/new") Nuevo Curso
              li
                  a(class="button alt" href="platform/curso") ver Cursos
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/acudiente/new") Nuevo Acudiente
              li
                a(class="button alt" href="platform/acudiente") ver Acudientes
        div(class="row")
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/evento/new") Nuevo Evento
              li
                a(class="button alt" href="platform/evento") Ver Eventos
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/pago/new") Nuevo Pago
              li
                a(class="button alt" href="platform/pago") Ver Pagos
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/sesion/new") Nuevo Sesion
              li
                a(class="button alt" href="platform/sesion") Ver Sesiones
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/reporte/new") Nuevo Reporte
              li
                a(class="button alt" href="platform/reporte") Ver Reportes
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/estudiante/new") Nuevo Estudiante
              li
                a(class="button alt" href="platform/estudiante") Ver Estudiante
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/clase/new") Nueva Clase
              li
                a(class="button alt" href="platform/clase") Ver Clases
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/inscripcion/new") Nueva Inscripcion
              li
                a(class="button alt" href="platform/inscripcion") Ver Inscripciones
          div(class="3u 6u(small) 12u$(xsmall)")
            ul(class="actions vertical")
              li
                a(class="button" href="platform/torneo/new") Nuevo Torneo
              li
                a(class="button alt" href="platform/torneo") Ver Torneos
        
                      
  
  include ../template/footer.jade
